<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <title>رزومه من</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>سلام، من علی اکبر هستم</h1>
  <p>برنامه‌نویس وب</p>
</body>
</html>
